# Dependencias
/node_modules

# Archivos de entorno
.env
docker-compose.yml
/db/db-init.sql
/utils/executeQuery.js

# Directorios de logs
logs
*.log
npm-debug.log*

# Directorio de salida de la compilación
/dist

# Sistema de archivos OSX
.DS_Store

# Archivos de editor
.vscode
.idea
*.swp
*.swo

# Otros archivos y directorios
tmp/